<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <!-- Messages: style can be found in dropdown.less -->
    <li mk-dropdown type="list" [isWrapper]="false" class="messages-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <i class="fa fa-envelope-o"></i>
          <span class="label label-success"></span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
       </mk-dropdown-menu>
    </li>

    <li mk-dropdown type="list" [isWrapper]="false" class="notifications-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <i class="fa fa-bell-o"></i>
          <span class="label label-warning"></span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
       
      </mk-dropdown-menu>
    </li>

    <li mk-dropdown type="list" [isWrapper]="false" class="tasks-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <i class="fa fa-flag-o"></i>
          <span class="label label-danger"></span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
       
      </mk-dropdown-menu>
    </li>
    <!--<li mk-dropdown type="list" [isWrapper]="false" class="user user-menu">
      <mk-dropdown-toggle>
          <a #toggleElement>
          <img src="" class="user-image" alt="User Image">
          <span class="hidden-xs"></span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
        <li class="user-header">
          <img src="" class="img-circle" alt="User Image">
        </li>
        <li class="user-body">
          <div class="row">
            
          </div>
        </li>
        <li class="user-footer">
          <div class="pull-left">
            <a href="#" class="btn btn-default btn-flat">Profile</a>
          </div>
          <div class="pull-right">
            <a href="#" class="btn btn-default btn-flat">Sign out</a>
          </div>
        </li>
      </mk-dropdown-menu>
    </li>-->
  </ul>
</div>
