.chatform {
  width: 100%;
  margin: 0 auto;
  /*margin-top: 50px;*/
}

.chatcontrol {
  float: left;
  width: 100%;
}

.chatinput {
  width: 100%;
  float: left;
  border-radius: 0;
}

.sendbtn {
  width: 20%;
  float: left;
  border-radius: 0;
  text-transform: uppercase;
}

.message {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  text-align:right;
}

.avatar {
  width: 50px;
  margin-right: 20px;
}

.chatlist {
  height: 75vh;
  overflow-y: scroll;
}
