<!--suppress ALL -->
<form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
  <mk-input-group inputErrorColor="warning">
    <mk-input-group-label>Input icons</mk-input-group-label>
    <mk-input-group-addon-left>@</mk-input-group-addon-left>
    <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i></mk-input-group-addon-right>
    <mk-input-group-content>
      <input mkInputText formControlName="firstName" class="toto form-control"/>
    </mk-input-group-content>
  </mk-input-group>
  <br />
  <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Soumettre</button>
</form>
